<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    Bean 的生命周期:
     1. bean对象创建（调用无参构造器）
     2. 给bean对象设置属性
     3. bean的后置处理器（初始化之前）
     4. bean对象初始化（需在配置bean时指定初始化方法）
     5. bean的后置处理器（初始化之后）
     6. bean对象就绪可以使用
     7. bean对象销毁（需在配置bean时指定销毁方法）
     8. IOC容器关闭
     -->
    <bean id="myBeanProcessor" class="com.kino.spring6.bean.MyBeanProcessor"/>
    <!-- 使用init-method属性指定初始化方法 -->
    <!-- 使用destroy-method属性指定销毁方法 -->
    <bean id="user" class="com.kino.spring6.bean.User" scope="prototype" init-method="initMethod" destroy-method="destroyMethod">
        <property name="id" value="1001"></property>
        <property name="username" value="admin"></property>
        <property name="password" value="123456"></property>
        <property name="age" value="23"></property>
    </bean>
</beans>